<div class="container mx-auto mt-20 min-h-screen">
  <h1 class="text-2xl sm:text-3xl font-bold text-center mb-8">パスポートを準備しましょう！</h1>

  <div class="card bg-base-100 w-2/3 mx-auto flex justify-center items-center shadow-xl">
    <div class="card-body text-center flex flex-col items-center justify-center">
      <h2 class=" card-title mb-6 mt-6 text-center text-base sm:text-xl font-semibold">パスポートの写真を持っておくメリットって?</h2>
      <p>旅行中にパスポートを紛失したり盗難に遭った場合、パスポートの写真があると迅速に対処することができます。<br>
       また、オンラインチェックインやホテルの予約時にも便利です。<br>
       いつでもパスポートの情報が確認できるように、パスポートの写真を撮ってアップロードしておくと安心です。（任意）
      </p>
     <%= image_tag "sample_passport.png", class: "w-64 sm:w-96 mt-6" %>
    <div class="flex justify-center items-center space-x-4 mb-8">
      <%= form_with model: @passport, data: { turbo_frame: 'passport-photo' } do |form| %>
        <%= render 'shared/error_messages', object: form.object %>
        <div class="flex items-center p-2 rounded-md">
          <label class="w-[212px] sm:w-[164px] h-8 border border-primary-300 bg-white text-primary-300 rounded-[3px] text-base flex justify-center items-center cursor-pointer">
            <i class="fas fa-camera-retro mr-2"></i>
            <span>画像を選択</span>
            <%= form.file_field :photo, class: "hidden", accept: 'image/*' %>
          </label>
        </div>
        <div class="mt-4 flex justify-center items-center">
          <%= form.submit "アップロードする", class: "bg-yellow-300 hover:bg-yellow-500 btn btn-primary px-6 py-3 hover:shadow-sm hover:translate-y-0.5 transform transition rounded shadow-lg ml-4" %>
        </div>
      <% end %>
      <div>
      </div>
    </div>
    </div>
  </div>

  <div id="passport-photo" class="mt-8 text-center">
    <% if @passport.photo.present? %>
      <div class="mt-8 mb-8">
      <a href="<%= @passport.photo.url %>" data-lightbox="passport">
        <%= image_tag @passport.photo.url, class: "rounded shadow-lg w-48 sm:w-64 inline-block" %>
      </a>
      <p class="text-sm text-gray-500 mt-2">クリックして画像を拡大表示できます。</p>
      </div>
    <% end %>
  </div>
</div>
