<%= render 'shared/before_login_header' %>
<div class="flex flex-col justify-center items-center min-h-screen p-6 bg-sky">
    <h1 class="text-6xl md:text-9xl font-bold text-blue-950 font-caveat animate-puff-in-center mt-40">Travel Starter</h1>
    <p class="text-lg text-blue-950 mt-6">あなたの旅が、ここから始まる</p>
    <div class="mt-6 flex space-x-10">
        <%= link_to new_user_path, class: "btn btn-primary rounded shadow-2xl mt-6" do %>
        はじめる
        <% end %>
        <%= link_to login_path, class: "btn btn-secondary rounded shadow-2xl mt-6" do %>
        ログイン
        <% end %>
    </div>
    <div class="mouse animate-nudge-mouse mt-[10rem]"></div>
    <p class="text animate-nudge-text mt-2">Scroll</p>
</div>

<div class="flex flex-col justify-center items-center py-20">
<h1 class="text-2xl sm:text-3xl font-bold mb-6 text-center">
  <span class="font-caveat" style="font-family: 'Caveat', cursive;">Travel Starter</span>
  <span class="font-zen" style="font-family: 'Zen Maru Gothic', serif;">とは？</span>
</h1>
  <p class="text-center leading-loose">
    『海外旅行に行ってみたい！でも、何を準備すればいいのかわからない…』<br>
    そう思ったことはありませんか？<br>
    Travel Starterは、そんなあなたのための旅行準備サポートアプリです。<br>
    便利なTO DOチェックリストやフライトにまつわる情報など、<br>
    旅行前の不安を解消し、安心して旅立てるようお手伝いします。<br>
    さあ、一緒に旅の準備を始めましょう！
  </p>
</div>

<div class="flex flex-col justify-center items-center py-6">
<h1 class="text-2xl sm:text-3xl font-bold mb-6 text-center">
  <span class="font-caveat" style="font-family: 'Caveat', cursive;">Travel Starter</span>
  <span class="font-zen" style="font-family: 'Zen Maru Gothic', serif;">でできること</span>
</h1>
  <div class="card glass w-2/3">
    <div class="card-body justify-center items-center">
    <%= link_to "旅を登録する", "#", class: "bg-yellow-300 hover:bg-yellow-500 mt-6 px-6 py-3 hover:shadow-sm hover:translate-y-0.5 transform transition rounded shadow-lg pointer-events-none" %>
      <p class="mt-4">あなたの行き先・出発日・帰国日を登録できます。</p>
      <a href="https://gyazo.com/edc36ae3ffce9cdc10c792bb38ca6f87"><img src="https://i.gyazo.com/edc36ae3ffce9cdc10c792bb38ca6f87.png" alt="Image from Gyazo" width="300"/></a>
    </div>
  </div>
</div>

<div class="flex flex-col justify-center items-center py-6">
  <div class="card glass w-2/3">
    <div class="card-body justify-center items-center">
    <%= link_to "TO DOを見る", "#", class: "bg-yellow-300 hover:bg-yellow-500 mt-6 px-6 py-3 hover:shadow-sm hover:translate-y-0.5 transform transition rounded shadow-lg pointer-events-none" %>
      <p class="mt-4">旅の行き先に応じたTO DOリストが作成されます。<br>
      旅を編集すると、TO DOリストも自動的に更新されます。<br>
      また、任意のTO DOを追加することもできます。</p>
      </p>
      <a href="https://gyazo.com/161042bffecfab7052909a8181f1fab2"><video width="300" autoplay muted loop playsinline><source src="https://i.gyazo.com/161042bffecfab7052909a8181f1fab2.mp4" type="video/mp4"/></video></a>
    </div>
  </div>
</div>

<div class="flex flex-col justify-center items-center py-6">
  <div class="card glass w-2/3">
    <div class="card-body justify-center items-center">
      <%= link_to "#", class: "inline-block p-2 bg-blue-topaz text-center text-white rounded-lg shadow-lg hover:shadow-xl transform hover:-translate-y-1 transition-all duration-300 w-auto mx-auto pointer-events-none" do %>
        <%= image_tag "passport.png", class: "w-20 mx-auto mb-2" %>
        PASSPORT
      <% end %>
      <p class="mt-4 text-center">パスポートの写真を保存・表示ができます。<br>
      万が一に備えて、パスポートの写真をアップロードしておくと安心です。<br>
      写真は任意でアップロードできます。(拡張子はjpg, jpeg, gif, pngのみ)
      </p>
      <a href="https://gyazo.com/ca0f09a399ae007d670ee4f31c3e7357"><video width="300" autoplay muted loop playsinline><source src="https://i.gyazo.com/ca0f09a399ae007d670ee4f31c3e7357.mp4" type="video/mp4"/></video></a>
    </div>
  </div>
</div>

<div class="flex flex-col justify-center items-center py-6">
  <div class="card glass w-2/3">
    <div class="card-body justify-center items-center">
      <%= link_to "#", class: "block p-2 bg-blue-topaz text-center text-white rounded-lg shadow-lg hover:shadow-xl transform hover:-translate-y-1 transition-all duration-300 w-auto mx-auto pointer-events-none" do %>
        <%= image_tag "plan.png", class: "w-20 mx-auto mb-2" %>
        SCHEDULE
      <% end %>
      <p class="mt-4 text-center">旅の一覧です。<br>
      「もっと見る」から旅ごとのTO DOリストを確認できます。<br>
      旅の編集と削除もこちらから行えます。
      </p>
      <a href="https://gyazo.com/51ceb160bc6dfb015051ab28d25222ac"><video width="400" autoplay muted loop playsinline><source src="https://i.gyazo.com/51ceb160bc6dfb015051ab28d25222ac.mp4" type="video/mp4"/></video></a>
    </div>
  </div>
</div>

<div class="flex flex-col justify-center items-center py-6">
  <div class="card glass w-2/3">
    <div class="card-body justify-center items-center">
      <%= link_to "#", class: "block p-2 bg-blue-topaz text-center text-white rounded-lg shadow-lg hover:shadow-xl transform hover:-translate-y-1 transition-all duration-300 w-auto mx-auto pointer-events-none" do %>
        <%= image_tag "flight.png", class: "w-20 mx-auto mb-2" %>
        FLIGHT
      <% end %>
      <p class="mt-4 text-center">飛行機に乗るためのガイドです。<br>
      空港での流れや、機内の過ごし方、機内持ち込み制限品を確認できます。<br>
      </p>
      <a href="https://gyazo.com/707ed43b7cf025363ed9d49481a2925c"><video width="300" autoplay muted loop playsinline><source src="https://i.gyazo.com/707ed43b7cf025363ed9d49481a2925c.mp4" type="video/mp4"/></video></a>
    </div>
  </div>
</div>