<li id="todo-<%= todo.id %>" class="flex justify-start items-center space-x-2">
  <%= form_with(model: [ @trip, todo ], url: update_todo_trip_path(@trip, todo), method: :patch, data: { turbo_frame: "todo_#{todo.id}" }) do |f| %>
    <%= f.hidden_field :done, value: 0 %> <!-- チェックボックスの初期値 -->
    <%= f.check_box :done, { class: "form-checkbox h-6 w-6 text-purple-600" }, 1,0 %> <!-- チェックボックスを設定 -->
    <%= f.label :content, todo.content %>
  <% end %>
  <%= link_to "削除", destroy_todo_trip_path(@trip, todo), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "btn btn-accent btn-xs" %>
</li>
