<li id="todo-<%= todo.id %>" class="flex justify-between items-center space-x-4 py-2">
  <%= form_with(model: [ @trip, todo ], url: update_todo_trip_path(@trip, todo), method: :patch, data: { turbo_frame: "todo_#{todo.id}" }) do |f| %>
    <%= f.hidden_field :done, value: 0 %> <!-- チェックボックスの初期値 -->
    <%= f.check_box :done, { class: "form-checkbox h-4 w-4 mr-3" }, 1,0 %> <!-- チェックボックスを設定 -->
    <%= f.label :content, todo.content, class: "flex-grow" %>
  <% end %>

  <%= link_to "削除", destroy_todo_trip_path(@trip, todo), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "btn bg-blue-100 text-blue-600 hover:bg-blue-200 hover:text-blue-700 btn-xs ml-4" %>
</li>