
<div class="flex flex-col justify-center items-center min-h-screen">
  <h1 class="text-3xl font-bold mb-6">旅の詳細</h1>
  <div class="card bg-blue-50 w-96 shadow-xl rounded-lg p-4">
    <div class="relative">
      <%= image_tag image_url_for_trip(@trip), class: "w-full h-60 object-cover rounded-lg border border-white shadow-lg" %>
    </div>
    <div class="bg-white p-4 rounded-b-lg mt-4 text-center">
      <div class"text-center">
        <p class="text-lg font-bold mb-4"><%= @trip.destination %></p>
        <p class="text-gray-700 mb-2">出発日: <%= @trip.departure_date %></p>
        <p class="text-gray-700 mb-4">帰国日: <%= @trip.return_date %></p>
      </div>

        <!-- 編集・削除ボタン -->
        <div class="card-actions flex justify-end space-x-4">
          <%= link_to edit_trip_path(@trip) do %>
            <i class="fas fa-edit fa-lg"></i>
          <% end %>
          <%= link_to trip_path(@trip), data: { turbo_method: "delete", turbo_confirm: "本当に削除しますか？" } do %>
            <i class="fas fa-trash fa-lg"></i>
          <% end %>
        </div>

            <!-- モーダル -->
            <button class="btn btn bg-purple-300 hover:bg-purple-500 btn btn primary px-6 py-3 hover:shadow-sm hover:translate-y-0.5 transform transition rounded shadow-lg mt-6" onclick="document.getElementById('my_modal_4').showModal()">TO DO</button>
    <dialog id="my_modal_4" class="modal">
        <div class="modal-box">
            <form method="dialog">
              <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
         <h3 class="text-lg font-bold mb-4"><%= current_user.name %>のTO DO</h3>
         <div class="border-t border-dashed border-4 border-blue-800 mb-10"></div>
        <turbo-frame id="todos">
          <ul id="todo-list">
           <% @trip.todos.each do |todo| %>
               <%= render partial: "trips/todo", locals: { todo: todo } %>
           <% end %>
          </ul>
        </turbo-frame>

        <turbo-frame id="todo-form" >
          <%= render partial: "trips/todo_form", locals: { todo: @new_todo } %>
        </turbo-frame>
        </div>
    </dialog>
  </div>
</div>
