<div class="container">
  <div class="row">
    <div class="flex flex-col justify-center items-center min-h-screen">
      <h1 class="text-3xl font-bold mb-4 mt-6">ユーザー登録</h1>
      <%= form_with model: @user, local: true do |form| %>
        <%= render 'shared/error_messages', object: form.object %>
        <div class="mb-8 w-80">
          <%= form.label :name, "名前", class: "block text-lg font-medium text-gray-700"  %>
          <%= form.text_field :name, placeholder: "10文字以下", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md h-12 p-2" %>
        </div>
        <div class="mb-8 w-80">
          <%= form.label :email, "メールアドレス", class: "block text-lg font-medium text-gray-700" %>
          <%= form.email_field :email, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md h-12 p-2" %>
        </div>
        <div class="mb-8 w-80">
          <%= form.label :password, "パスワード", class: "block text-lg font-medium text-gray-700" %>
          <%= form.password_field :password, placeholder: "4文字以上8文字以下", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md h-12 p-2" %>
        </div>
        <div class="mb-8 w-80">
          <%= form.label :password_confirmation, "パスワード（確認）", class: "block text-lg font-medium text-gray-700" %>
          <%= form.password_field :password_confirmation, placeholder: "パスワードをもう一度", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md h-12 p-2" %>
        </div>
        <div class="mb-8 flex justify-center w-80">
          <%= form.submit "登録", class: "btn btn-secondary rounded mt-4 w-full" %>
        </div>
      <% end %>
      <%= link_to "ログインはこちら", login_path, class: "hover:bg-blue-200 opacity-75 rounded-lg px-4 py-2" %>
    </div>
  </div>
</div>
