<div class="navbar bg-cerulean text-white py-4">
  <div class="flex-1">
    <%= link_to "Travel Starter", home_path, class: "btn btn-ghost p-2 text-xl md:text-2xl font-caveat" %>
  </div>
  <div class="flex-none">
    <label for="my-drawer-4" class="drawer-button btn btn-ghost">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-8 h-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
      </svg>
    </label>
  </div>
</div>

<div class="drawer drawer-end z-50">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
  </div>
  <div class="drawer-side z-50">
    <label for="my-drawer-4" class="drawer-overlay z-40"></label>
    <ul class="menu bg-white bg-opacity-80 text-base-content min-h-full w-80 p-4 shadow-lg z-50">
      <!-- Drawer content here -->
      <li><%= link_to "アプリの使い方", usage_instructions_path, class: "hover:bg-cerulean hover:text-white" %></li>
      <div class="divider divider-default"></div>
      <li><%= link_to "パスポート", new_passport_path, class: "hover:bg-cerulean hover:text-white" %></li>
      <li><%= link_to "スケジュール", trips_path, class: "hover:bg-cerulean hover:text-white" %></li>
      <li><%= link_to "フライト", flights_path, class: "hover:bg-cerulean hover:text-white" %></li>
      <li><%= link_to "AIチャットbot", chatbots_ask_path, class: "hover:bg-cerulean hover:text-white" %></li>
      <li><%= link_to "ホーム", home_path, class: "hover:bg-cerulean hover:text-white" %></li>
      <li><%= link_to "マイページ", user_path(current_user), class: "hover:bg-cerulean hover:text-white" %></li>
      <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "hover:bg-cerulean hover:text-white" %></li>
      <div class="divider divider-default"></div>
      <li><%= link_to "利用規約", "#", class: "hover:bg-cerulean hover:text-white" %></li>
      <li><%= link_to "プライバシーポリシー", "#", class: "hover:bg-cerulean hover:text-white" %></li>
      <li><%= link_to "お問い合わせ", "https://forms.gle/tkKd37GHC9aweY6LA", class: "hover:bg-cerulean hover:text-white", target: :_blank, rel: "noopener noreferrer" %></li>
      <div class="divider divider-default"></div>
      <div class="text-center text-sm py-2">
        © 2024 - Travel Starter
      </div>
      <div class="flex justify-center space-x-10 mt-10">
        <%= link_to "https://twitter.com/intent/tweet?url=#{root_url}&text=Travel%20Starter%20で海外旅行をもっと身近に！%0A%23travel_with_travel_starter", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
          <%= image_tag 'logo-black.png', class: 'h-8 w-6' %>
        <% end %>
        <%= link_to "https://github.com/miki-ymmt", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "GitHub" do %>
          <%= image_tag 'github-mark.png', class: 'h-8' %>
        <% end %>
      </div>
    </ul>
  </div>
</div>
