<div class="navbar bg-cerulean text-white py-4">
  <div class="flex-1">
    <%= link_to home_path, class: "btn btn-ghost p-0" do %>
      <%= image_tag "logo.png", class: "w-24 h-16" %>
    <% end %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
      <details class="relative">
      <summary>MENU</summary>
      <ul class="absolute right-0 bg-base-100 rounded p-2 mt-1 w-48 shadow-lg text-blue-950 z-50">
        <li><%= link_to "PASSPORT", new_passport_path %></li>
        <li><%= link_to "SCHEDULE", trips_path %></li>
        <li><%= link_to "FLIGHT", flights_path %></li>
        <li><%= link_to "AI CHATBOT", chatbots_ask_path %></li>
        <li><%= link_to "ホーム", home_path %></li>
        <li><%= link_to "マイページ", user_path(current_user) %></li>
        <li><%= link_to "アカウント削除", user_path(current_user), data: { turbo_method: "delete", turbo_confirm: '本当に退会しますか？'} %></li>
        <li><%= button_to "ログアウト", logout_path, method: :delete %></li>
      </ul>
    </details>
      </li>
    </ul>
  </div>
</div>