<div class="container mx-auto min-h-screen mt-10 flex">

  <!-- メインコンテンツ -->
  <div class="w-full ml-4 p-6 rounded text-center">
    <% if @next_trip %>
      <% unless @next_trip.destination == "その他の国" %>
        <% if @weather_info %>
          <div class="card bg-base-100 shadow-md mb-8 w-full max-w-xl mx-auto rounded-lglg h-20 w-3/4 flex items-center px-6">
            <div class="flex justify-between w-full items-center">
              <div class="text-sm sm: text-base font-medium text-gray-600 mt-4">
                <p>次の旅行先</p>
                <%= @next_trip.destination %>の天気
              </div>
              <div class="text-sm sm: text-base font-medium text-gray-600 mt-4">
                <%= @weather_info[:temperature] %> °C
              </div>
              <div class="text-xs sm: text-sm font-medium text-gray-600 mt-4">
                <%= @weather_info[:description] %>
              </div>
              <div>
                <%= link_to home_path, method: :get do %>
                  <%= image_tag "tap.png", class: "w-10 h-10 mt-4 transition transform hover:scale-110 duration-300 ease-in-out" %>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <p>天気情報を取得できませんでした。</p>
        <% end %>
      <% else %>
        <p>次の旅先は天気情報取得エリア対象外です。</p>
      <% end %>
    <% else %>
      <p>次の旅行が登録されていません。</p>
    <% end %>

    <!-- カルーセルの追加 -->
    <div class="carousel w-full h-56 sm:h-72 md:h-96 lg:h-[500px] mt-8">
      <div id="slide1" class="carousel-item relative w-full h-full">
        <%= image_tag "slide1.svg", class: "w-full h-full object-cover" %>
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide6" class="btn btn-circle">❮</a>
        <a href="#slide2" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="slide2" class="carousel-item relative w-full h-full">
      <%= image_tag "slide2.svg", class: "w-full h-full object-cover" %>
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide1" class="btn btn-circle">❮</a>
        <a href="#slide3" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="slide3" class="carousel-item relative w-full h-full">
      <%= image_tag "slide3.svg", class: "w-full h-full object-cover" %>
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide2" class="btn btn-circle">❮</a>
        <a href="#slide4" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="slide4" class="carousel-item relative w-full h-full">
      <%= image_tag "slide4.svg", class: "w-full h-full object-cover" %>
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide3" class="btn btn-circle">❮</a>
        <a href="#slide5" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="slide5" class="carousel-item relative w-full h-full">
      <%= image_tag "slide5.svg", class: "w-full h-full object-cover" %>
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide4" class="btn btn-circle">❮</a>
        <a href="#slide6" class="btn btn-circle">❯</a>
      </div>
    </div>
    <div id="slide6" class="carousel-item relative w-full h-full">
      <%= image_tag "slide6.svg", class: "w-full h-full object-cover" %>
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href="#slide4" class="btn btn-circle">❮</a>
        <a href="#slide6" class="btn btn-circle">❯</a>
      </div>
    </div>
  </div>

    <h1 class="text-xl md:text-3xl font-bold mt-20">
      次はどこへ旅しますか？
    </h1>
    <p class="mt-6">行き先を登録すると、現地の天気とTO DOリストがすぐに確認できます！</p>
    <%= link_to "旅を登録する", new_trip_path, class: "inline-block text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-blue-500 border-2 border-transparent rounded-lg py-3 px-6 font-extrabold transform hover:scale-105 transition duration-300 ease-in-out mt-10", style: "border-image: linear-gradient(to right, #ec4899, #3b82f6) 1;" %>
  </div>
</div>

