<div class="container mx-auto min-h-screen mt-20 flex">
  <!-- 左側のボタン  -->
  <div class="w-1/4 flex flex-col space-y-10 mt-20">
    <%= link_to new_passport_path, class: "inline-block p-2 bg-blue-topaz text-center text-white rounded-lg shadow-lg hover:shadow-xl transform hover:-translate-y-1 transition-all duration-300 w-auto mx-auto font-caveat" do %>
    <%= image_tag "passport.png", class: "w-20 mx-auto mb-2" %>
    Passport
    <% end %>
    <%= link_to trips_path, class: "block p-2 bg-blue-topaz text-center text-white rounded-lg shadow-lg hover:shadow-xl transform hover:-translate-y-1 transition-all duration-300 w-auto mx-auto font-caveat" do %>
    <%= image_tag "plan.png", class: "w-20 mx-auto mb-2" %>
    Schedule
    <% end %>
    <%= link_to flights_path, class: "block p-2 bg-blue-topaz text-center text-white rounded-lg shadow-lg hover:shadow-xl transform hover:-translate-y-1 transition-all duration-300 w-auto mx-auto font-caveat" do %>
    <%= image_tag "flight.png", class: "w-20 mx-auto mb-2" %>
    Flight
    <% end %>
    <%= link_to chatbots_ask_path, class: "block p-2 bg-blue-topaz text-center text-white rounded-lg shadow-lg hover:shadow-xl transform hover:-translate-y-1 transition-all duration-300 w-auto mx-auto font-caveat" do %>
      <%= image_tag "chatbot.png", class: "w-20 mx-auto mb-2" %>
      AI Chatbot
    <% end %>
  </div>

  <!-- メインコンテンツ -->
  <div class="w-3/4 ml-4 p-6 rounded text-center">
    <% if @next_trip %>
      <% if @weather_info %>
        <div class="card bg-base-100 shadow-xl mb-8 w-full max-w-xl mx-auto">
          <div class="card-body">
            <div class="flex items-center justify-between mb-3">
              <div class="text-md sm:text-lg font-semibold"><%= @next_trip.destination %>の天気</div>
              <div class="text-md sm:text-lg font-semibold"><%= @weather_info[:temperature] %> °C</div>
            </div>
            <div class="mt-2 text-center">
              <div class="text-md sm:text-lg font-semibold"><%= @weather_info[:description] %></div>
            </div>
            <div class"mt-4 flex justify-center">
              <%= button_to "最新の天気を見る", home_path, method: :get, class: "btn btn-outline btn-info btn-sm rounded mt-4 hover:shadow-sm hover:translate-y-0.5 transform transition" %>
            </div>
          </div>
        </div>
      <% else %>
        <p>天気情報を取得できませんでした。</p>
      <% end %>
    <% else %>
      <p>次の旅行が登録されていません。</p>
    <% end %>

    <h1 class="text-xl md:text-3xl font-bold text-center mt-12">
      旅の予定を立てましょう！
    </h1>
    <%= image_tag "home.png", class: "w-full sm:w-1/2 mx-auto mb-8 mt-8" %>
    <%= link_to "旅を登録する", new_trip_path, class: "bg-yellow-300 hover:bg-yellow-500 btn btn-primary mt-4 px-6 py-3 rounded shadow-lg hover:shadow-sm hover:translate-y-0.5 transform transition" %>
  </div>
</div>

