<%= turbo_stream.append "chatbox" do %>
  <div class="chat chat-end flex justify-end ml-auto max-w-full sm:max-w-md">
    <div class="flex flex-col items-end">
      <div class="chat-header text-xs sm:text-base text-right">
        <%= current_user.name %>
      </div>
      <div class="chat-bubble bg-blue-200 max-w-xs mx-2 py-2 px-4 rounded-lg relative text-xs sm:text-base text-right">
        <div><%= params[:question] %></div>
      </div>
    </div>
    <div class="chat-image avatar ml-2">
      <div class="w-10 rounded-full">
        <%= image_tag "user.png", class: "w-10 h-10 rounded-full" %>
      </div>
    </div>
  </div>

  <div class="chat chat-start flex items-start">
    <div class="chat-image avatar mr-2">
      <div class="w-10 rounded-full">
        <%= image_tag "ai_bot.png", class: "w-10 h-10 rounded-full" %>
      </div>
    </div>
    <div>
      <div class="chat-header text-xs sm:text-base text-left">
        AI chatbot
      </div>
      <div class="chat-bubble bg-green-200 max-w-xs mx-2 py-2 px-4 rounded-lg relative text-xs sm:text-base">
        <div><%= @answer %></div>
        <div class="absolute w-3 h-3 bg-green-500 bottom-0 right-2 transform translate-y-1/2 rotate-45"></div>
      </div>
    </div>
  </div>
<% end %>
