<!DOCTYPE html>
<html data-theme="pastel" lang="ja">
  <head>
    <title>Travel Starter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-purple-50">
  <% if logged_in? %>
    <%= render 'shared/header' %>
  <% else %>
    <%= render 'shared/before_login_header' %>
  <% end %>
  <main class="flex-grow">
  <%= render 'layouts/flash_messages' %>
  <%= yield %>
  </main>
  <%= render 'shared/footer' %>
  </body>
</html>
