<!DOCTYPE html>
<html data-theme="pastel" lang="ja">
  <head>
    <title>Travel Starter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <%= stylesheet_link_tag 'lightbox.min' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">

    <%= favicon_link_tag image_path('icon.png'), type: 'image/png' %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@anb8u7cdJG77310" />
    <meta name="twitter:domain" content="adventure-travel-starter.com" />
    <meta name="twitter:title" content="Travel Starter" />
    <meta name="twitter:description" content="Travel Starterは、海外旅行初心者向けの準備アプリです✈️" />
    <meta name="twitter:image" content="<%= asset_url('ogp.png') %>" />
  </head>

  <body class="bg-icicle text-gray-700 font-zen relative pb-16">

  <div id="spinner-container" class="hidden fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50" data-loading-spinner-target="spinner">
    <span class="loading loading-spinner loading-lg text-primary"></span>
  </div>

  <div class="relative z-10">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% end %>
    <% unless logged_in? %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <main class="flex-grow">
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
    </main>
    <% if logged_in? %>
      <%= render 'shared/footer' %>
    <% end %>
    <%= javascript_include_tag 'lightbox-plus-jquery.min' %>
  </div>

  <script>
  document.addEventListener("turbo:submit-start", function() {
      document.getElementById("spinner-container").classList.remove("hidden");
  });

  document.addEventListener("turbo:submit-end", function() {
      document.getElementById("spinner-container").classList.add("hidden");
  });
  </script>
  </body>
</html>
